name: CI/CD
env:
  NODE_VERSION: '12.x'
  PACKAGE_NAME: "build" # name of build compressed file
  PACKAGE_PATH: "./.build/" # build path

on:
  push:
    branches: [master]
    tags: ["v*"]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v1
      with:
        always-auth: true
        node-version: ${{ env.NODE_VERSION }} 
    - name: install dependencies
      run: npm install
      env:
        NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
    - name: build project
      run: echo 'Run'
    - name: run tests
      run: echo 'Run tests'

    - name: Deploy to Azure WebApp
      run: echo 'Deploy to Azure'

  deploy-int:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: test
        run: echo 'Deploy to int'
