name: Java Maven CI/CD

env: 
  IS_FEATURE_BRANCH: ${{ github.ref != 'refs/heads/Development' && github.ref != 'refs/heads/master' && !contains(github.ref, 'release') }}

on:
  push:
    branches:
        - '**'
  pull_request:
    branches:
        - '**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout default repository
        uses: actions/checkout@v2
        
      - name: Print
        run: echo "${{ env.IS_FEATURE_BRANCH }}"
        
      - name: Feature branch
        if: ${{ env.IS_FEATURE_BRANCH }}
        run: echo feature branch
        
      - name: Not Feature branch
        if: ${{ !env.IS_FEATURE_BRANCH }}
        run: echo NOT feature branch
