name: Git Pull Request Workflow
env:
  NODE_VERSION: "12.x"
  IS_VALID: 1
on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  first-job:
    env:
      TEST: 1
    runs-on: ubuntu-latest
    if: ${{ TEST == 1 }}
    steps:
      - name: Test
        if: ${{ env.IS_VALID == 1 }}
        run: |
          echo "${{ env.NODE_VERSION }}"
    
        
