name: Git Pull Request Workflow

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  first-job:
    runs-on: ubuntu-latest
    env:
      NODE_VERSION: "12.x"
      IS_VALID: 1
    if: ${{ env.IS_VALID == 1 }}
    steps:
      - name: Test
        run: |
          echo "${{ env.NODE_VERSION }}"
    
        
