name: Java Maven CI/CD

on:
  push:
    branches:
        - '**'
  pull_request:
    branches:
        - '**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env: 
      FEATURE_BRANCH: ${{ github.ref != 'refs/heads/Development' && github.ref != 'refs/heads/master' && !contains(github.ref, 'main') }}
    steps:
      - name: Checkout default repository
        uses: actions/checkout@v2
        
      - name: Feature branch
        if: ${{ env.FEATURE_BRANCH }}
        run: echo feature branch
        
      - name: Not Feature branch
        if: ${{ !env.FEATURE_BRANCH }}
        run: echo NOT feature branch
