name: Git Pull Request Workflow

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

env:
  ONE: 1
  TWO: two

jobs:
  first-job:
    runs-on: ubuntu-latest
    if: ${{ env.ONE }} == 1
    steps:
    - run: |
        echo "${{ env.ONE }}"
        echo "${{ env.TWO }}"
